In [140]:
sc

In [141]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [142]:
ls

csvfiles/           weather-data.ipynb

In [143]:
ls csvfiles/

cour_Air density.csv          cour_Rain.csv
cour_Barometer.csv            cour_Soil Moiture 2.csv
cour_EvapoTranspiration.csv   cour_Soil Moiture.csv
cour_Inside Dew Point.csv     cour_Soil Temperature.csv
cour_Inside Heat Index.csv    cour_Soil Temperature2.csv
cour_Inside Humid.csv         cour_Solar Radiation.csv
cour_Inside Temperature.csv   cour_UV Radiation.csv
cour_Outside Dew Point.csv    cour_Wind Chill.csv
cour_Outside Heat Index.csv   cour_Wind Direction.csv
cour_Outside Humid.csv        cour_Wind Speed.csv
cour_Outside Temperature.csv

In [329]:
def cleaning(dFrame):  # data cleaning
    dFrame[1] = dFrame[1].str.strip(' "time:"')
    dFrame[3] = dFrame[3].str.strip(' "value:"').str.rstrip("}")
    dFrame = dFrame.drop(dFrame.columns[[0, 2]], axis=1)
    dFrame = dFrame.rename(columns={1: 'time', 3: 'value'})
    return dFrame

In [330]:
rain = pd.read_csv('csvfiles/cour_Rain.csv', header=None, sep=',', quotechar='"')
rain = cleaning(rain)

In [341]:
rain = rain.rename(columns={'value': 'rain'})
print(rain.shape)
rain.head()

(428564, 2)

         time rain
0  1373721060   0
1  1373721120   0
2  1373721180   0
3  1373721240   0
4  1373721300   0

In [354]:
temperature = pd.read_csv('csvfiles/cour_Soil Temperature.csv', header=None)

In [355]:
temperature = cleaning(temperature)
temperature = temperature.rename(columns={'value': 'temperature'})
print(temperature.shape)
print(temperature.head())

(372103, 2)
         time temperature
0  1375607700       27.2
1  1375607760       27.2
2  1375607820       27.2
3  1375607880       27.2
4  1375607940       27.2

In [350]:
temperature = temperature.rename(columns={'value': 'temperature'})

In [351]:
temperature.tail()

              time temperature
372098  1431599340       16.7
372099  1431599400       16.7
372100  1431599460       16.7
372101  1431599520       16.7
372102  1431599580       16.7

In [356]:
airDensity = pd.read_csv("csvfiles/cour_Air density.csv", header=None)
airDensity = cleaning(airDensity)
airDensity = airDensity.rename(columns={'value': 'airDensity'})

In [357]:
print(airDensity.shape)
airDensity.head()

(428564, 2)

         time airDensity
0  1373721060    1.1293
1  1373721120    1.1294
2  1373721180    1.1294
3  1373721240    1.1289
4  1373721300    1.1289

In [358]:
airDensity.tail()

              time airDensity
428559  1431599340     1.189
428560  1431599400    1.1887
428561  1431599460    1.1892
428562  1431599520     1.189
428563  1431599580     1.189

In [359]:

temperature.head()

         time temperature
0  1375607700       27.2
1  1375607760       27.2
2  1375607820       27.2
3  1375607880       27.2
4  1375607940       27.2

In [365]:
window = pd.read_csv("csvfiles/cour_Wind Speed.csv", header=None)
window = cleaning(window)
window = window.rename(columns={'value': 'window-speed'})

In [366]:
print(window.shape)
window.head()

(428564, 2)

         time window-speed
0  1373721060           0
1  1373721120           0
2  1373721180         0.9
3  1373721240           0
4  1373721300           0

In [383]:
shape_data = { 'temperature': temperature.shape,'window': window.shape, 'airDensity': airDensity.shape, 'rain': rain.shape }

In [384]:
import operator
shape_data = sorted(shape_data.items(), key=operator.itemgetter(1))

In [385]:
print(shape_data)
print(type(shape_data))

[('temperature', (372103, 2)), ('airDensity', (428564, 2)), ('rain', (428564, 2)), ('window', (428564, 2))]
<class 'list'>

In [386]:
temperature[temperature['time'] == '1375607700'].index.tolist()

[0]

In [387]:
window[window['time']  == '1375607700'].index.tolist() # search for the index matching the first value of temperature data set

[26492]

In [388]:
airDensity[airDensity['time']  == '1375607700'].index.tolist() # search for the index matching the first value of temperature

[26492]

In [389]:
ls

csvfiles/           weather-data.ipynb  weather-data.py

In [390]:
df3 = window.merge(temperature, how='outer')

In [443]:
print(df3.shape)
df3.head()

(428564, 3)

         time window-speed temperature
0  1373721060           0          NaN
1  1373721120           0          NaN
2  1373721180         0.9          NaN
3  1373721240           0          NaN
4  1373721300           0          NaN

In [444]:
df4 = df3.merge(airDensity, how='outer')

In [467]:
df4.head()

         time window-speed temperature airDensity
0  1373721060           0          NaN    1.1293
1  1373721120           0          NaN    1.1294
2  1373721180         0.9          NaN    1.1294
3  1373721240           0          NaN    1.1289
4  1373721300           0          NaN    1.1289

In [468]:
df5 = df4.merge(rain, how='outer')

In [469]:
df5.head()

         time window-speed temperature airDensity rain
0  1373721060           0          NaN    1.1293    0
1  1373721120           0          NaN    1.1294    0
2  1373721180         0.9          NaN    1.1294    0
3  1373721240           0          NaN    1.1289    0
4  1373721300           0          NaN    1.1289    0

In [483]:
df6 = df5.dropna()

In [484]:
df6.head()

             time window-speed temperature airDensity rain
26492  1375607700         1.8        27.2     1.1341    0
26493  1375607760         0.9        27.2     1.1341    0
26494  1375607820         4.9        27.2     1.1338    0
26495  1375607880         0.4        27.2     1.1346    0
26496  1375607940           0        27.2     1.1342    0

In [485]:
df6.shape

(372103, 5)

In [486]:
df6.to_csv('first_merged_data', index_col=0)

In [501]:
df7 = pd.read_csv('first_merged_data', index_col=0)

In [502]:
print(df7.dtypes)
df7.head()

time              int64
window-speed    float64
temperature     float64
airDensity      float64
rain            float64
dtype: object

             time  window-speed  temperature  airDensity  rain
26492  1375607700           1.8         27.2      1.1341   0.0
26493  1375607760           0.9         27.2      1.1341   0.0
26494  1375607820           4.9         27.2      1.1338   0.0
26495  1375607880           0.4         27.2      1.1346   0.0
26496  1375607940           0.0         27.2      1.1342   0.0

In [503]:
df7['time'] = pd.to_datetime(df7['time'].astype(int), unit='s') # convert unix time to readable time

In [504]:
print(df7.dtypes)
df7.tail()

time            datetime64[ns]
window-speed           float64
temperature            float64
airDensity             float64
rain                   float64
dtype: object

                      time  window-speed  temperature  airDensity  rain
428559 2015-05-14 10:29:00           0.4         16.7      1.1890   0.0
428560 2015-05-14 10:30:00           5.4         16.7      1.1887   0.0
428561 2015-05-14 10:31:00           3.6         16.7      1.1892   0.0
428562 2015-05-14 10:32:00           3.6         16.7      1.1890   0.0
428563 2015-05-14 10:33:00           2.2         16.7      1.1890   0.0

In [505]:
df8 = df7.set_index('time').resample('D').mean()

In [506]:
df8.head()

            window-speed  temperature  airDensity  rain
time
2013-08-04      1.012088    27.145055    1.134355   0.0
2013-08-05           NaN          NaN         NaN   NaN
2013-08-06      0.062336    24.743257    1.141444   0.0
2013-08-07      0.273828    27.021483    1.133870   0.0
2013-08-08      0.252937    26.959091    1.133587   0.0

In [507]:
df8.shape

(649, 4)

In [508]:
data = df8.dropna()

In [509]:
data.shape

(390, 4)

In [510]:
data.to_csv('month_mean_merged_data', index_col=0)

In [511]:
data = pd.read_csv('month_mean_merged_data', index_col=0)

In [512]:
data.head()

            window-speed  temperature  airDensity  rain
time
2013-08-04      1.012088    27.145055    1.134355   0.0
2013-08-06      0.062336    24.743257    1.141444   0.0
2013-08-07      0.273828    27.021483    1.133870   0.0
2013-08-08      0.252937    26.959091    1.133587   0.0
2013-08-09      0.188719    26.979549    1.132428   0.0

In [513]:
data.tail()

            window-speed  temperature  airDensity      rain
time
2015-05-10      0.045322    16.100000    1.198030  0.552193
2015-05-11      0.356564    16.100000    1.191856  0.000000
2015-05-12      1.224627    16.178358    1.188649  0.190299
2015-05-13      3.321011    16.345745    1.185474  0.000000
2015-05-14      2.567418    16.434426    1.184696  0.000000

In [514]:
data.dtypes

window-speed    float64
temperature     float64
airDensity      float64
rain            float64
dtype: object

In [2]:
ax = data.plot(style=['-', '--', ':', 'o'])
ax.lines[0].set_alpha(0.3)
ax.set_yscale('log')
plt.xticks(rotation=90)

NameError: name 'data' is not defined

In [1]:
data['window-speed'].plot()
plt.xticks(rotation=90)
plt.title('window speed')

NameError: name 'data' is not defined

In [249]:
ff = np.array(f)

In [250]:
ff

array(['1375607700', '1375607760', '1375607820', '1375607880', '1375607940'], dtype=object)

In [251]:
'1375607700' in ff

True

In [277]:
window.head()

         time value
0  1373721060    0
1  1373721120    0
2  1373721180  0.9
3  1373721240    0
4  1373721300    0

In [282]:
window.iloc[[2,3]]

         time value
2  1373721180  0.9
3  1373721240    0

In [284]:
window.iloc[[0, 1, 2, 3, 4, 5, 6, 7]]

         time value
0  1373721060    0
1  1373721120    0
2  1373721180  0.9
3  1373721240    0
4  1373721300    0
5  1373721360    0
6  1373721420  0.4
7  1373721480    0

In [289]:
print(type([0, 1, 2, 3, 4, 5, 6, 7]))

<class 'list'>

In [290]:
ll = [0, 1, 2, 3, 4, 5, 6, 7]

In [291]:
window.iloc[ll]

         time value
0  1373721060    0
1  1373721120    0
2  1373721180  0.9
3  1373721240    0
4  1373721300    0
5  1373721360    0
6  1373721420  0.4
7  1373721480    0